reportportal-client==5.0.5
jira==2.0.0
requests==2.23.0
PyYAML==5.4
influxdb==5.2.0
numpy==1.16.0
junit-xml==1.8
pandas==1.1.5
requests-mock==1.9.2
mock==4.0.3
pytest==6.2.4
coverage==5.5
git+https://github.com/carrier-io/loki_logger.git